body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slideshow-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slideAnimation 12s infinite alternate; /* Adjust timing as needed */
}

@keyframes slideAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
